body{
  font-family:Arial, sans-serif;
  background-color: #f5f5f5;
  margin:0;
  padding: 0;
}
h1,h2,h3{
  color: #333333;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li{
  display: #333333;
  text-decoration: none;
}

#hero{
  background-image: url("cafe-bg.jpg");
}